/* Container Styling */
.products-home {
    text-align: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    padding: 4rem 2rem;
    background-color: #F5F5F5;
}

/* Header Styling */
.header {
    background-color: #124e66;
    color: white;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: -4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
}

.header p {
    font-size: 1rem;
    margin-top: 0.5rem;
    max-width: 800px;
    line-height: 1.6;
}

/* Grid Container */
.grid-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    align-items: center;
    position: relative;
    flex-wrap: wrap; /* Allow wrapping */
}

/* Grid Columns */
.grid-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: calc(33.33% - 2rem); /* Adjust width with gap */
    position: relative; /* Add position relative */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.grid-column.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Images */
.grid-column img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    aspect-ratio: 16 / 9;
}

.grid-column img:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 1200px) {
    .grid-container {
        max-width: 960px;
    }
}

@media (max-width: 1024px) {
    .header h1 {
        font-size: 2.5rem;
    }

    .grid-container {
        gap: 1.5rem; /* Reduced gap */
    }

    .grid-column {
        width: 40%; /* Two columns */
    }
}

@media (max-width: 768px) {
    .products-home {
        padding: 2rem 1rem;
    }
    .header{
      margin-top: 1rem;
    }

    .header h1 {
        font-size: 2rem;
    }

    .grid-container {
        gap: 1rem; /* Reduced gap */
    }

    .grid-column {
        width: 50%; /* One column */
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.8rem;
        margin-top: 0;
    }
}
