.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url("../../assets/dashbaord-image.jpg");
  background-position: center;
  background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 2rem;
  }
  
  .hero-content h1 {
    font-size: 68px;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 28px;
    margin-bottom: 1.5rem;
  }
  
  .hero-button {
    display: inline-flex; /* Flexbox for alignment */
  align-items: center; /* Vertically centers content */
  justify-content: center; /* Centers content horizontally if needed */
  background-color: #0019FF; /* Blue background */
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  }

  .hero-icon{
    font-size: 1rem;
    margin-left: 0.5rem;
    background-color: #fff;
    color: #0019FF;
    border-radius: 90px;
  }
  
  .hero-button:hover {
    background-color: #003f7d;
  }
  
